.bg-alice-blue {
  background-color: #e6eff2ff;
}

.bg-lavender-gray {
  background-color: #c3bed2ff;
}

.bg-very-dark-grayish-blue {
  background-color: #464562;
  color: #fff;
}

.text-color-space-cadet {
  color: #363a58ff;
}
